<head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  	<link rel="shortcut icon" href="/img/informative/favicon.jpg">
	<!-- Open Sans font from Google CDN -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

	<!-- Pixel Admin's stylesheets -->
	<link href="/css/dashboard/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/dashboard/pixel-admin.css"  rel="stylesheet" type="text/css">
	<link href="/css/dashboard/widgets.css" rel="stylesheet" type="text/css">
	<link href="/css/dashboard/rtl.css" rel="stylesheet" type="text/css">
	<link href="/css/dashboard/themes.css" rel="stylesheet" type="text/css">
	<link href="/css/dashboard/user.css" rel="stylesheet" type="text/css">
	<link href="/css/dashboard/pages.css" rel="stylesheet" type="text/css">
	
	<!-- CSS Development -->
    <link href="/css/dashboard/jquery-ui.css"  rel="stylesheet">


</head>

<body>
    


</body>

