<template name="pageNotFound">
	<div class="page-404" style="width:100%;height:100%;">

		<div class="header">
			<a href="index.html" class="logo">
				<div class="demo-logo"><img src="/img/dashboard/Vifuy.gif" alt="" style="margin-top: -4px;"></div>&nbsp;
				<strong>Vifuy</strong>
			</a> <!-- / .logo -->
		</div> <!-- / .header -->

		<div class="error-code">404</div>

		<div class="error-text">
			<span class="oops">OOPS!</span><br>
			<span class="hr"></span>
			<br>
			SOMETHING WENT WRONG, OR THAT PAGE DOESN'T EXIST... YET
		</div> <!-- / .error-text -->

		<form action="" class="search-form">
			<input type="text" class="search-input" name="s">
			<input type="submit" value="SEARCH" class="search-btn">
		</form> <!-- / .search-form -->

	</div>
</template>