<template name="dashboard_informatives_emails">
	<div class="row">
        <div class="page-header">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Voletines Informativos <span id="count"></span></h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <div id="create-informative" class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Crear Voletin Informativo</a></div>
                    <div class="visible-xs clearfix form-group-margin"></div>
                </div>
            </div>
        </div>
        <div id="content-table">
            {{> reactiveTable collection=showInformative settings=tableSettings}}
        </div>
        <!-- / .page-header -->
    </div>
    <div class="row">
        <!--Form Institute-->
        <form id="new-informative-item" class="panel form-horizontal" style="display:none;">
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Título</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" placeholder="Título" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                        <textarea id="description" class="form-control" rows="10" cols="40" required>
                            
                        </textarea>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label class="col-sm-2 control-label">Subtítulo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="subtitle" placeholder="Subtitulo" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                        <textarea id="description-two" class="form-control" rows="10" cols="40" required>
                            
                        </textarea>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Ambiente</label>
                    <div class="col-sm-10">
                        <select id="enviroment" name="enviroment" class="form-control" required>
                            <option value="">Default select</option>
                            {{#each showEnviroments}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group sel-program" style="display:none;">
                    <label for="asdasdas" class="col-sm-2 control-label">Programa</label>
                    <div class="col-sm-10">
                        <select id="program" name="program" class="form-control">
                            <option value="">Opcional</option>
                            {{#each showPrograms}}
                                <option value="{{_id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Imagen</label>
                    <div class="col-sm-10">
                        <input id="img" name="img" type="file" class="" multiple >                                    
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button id="cancel-add" class="btn btn-danger btn-flat">Cancelar</button>
                    </div>
                </div> <!-- / .form-group -->
                <br>
                <br>
                <div id="alert-uploaded">
                    {{#each showImages}}
                        {{#unless this.isUploaded}}
                            <h6>Upload Image</h6>
                            {{>FS.UploadProgressBar bootstrap=true}}
                        {{/unless}}

                        {{#if isUploaded}}
                            <h4 id="alert" align="center" class="alert" style="color:green;">Se han guardado los datos con éxito</h4>
                        {{/if}}

                    {{/each}}
                </div>
            </div>
        </form>
        <!--Form Program-->
    </div>

</template>

