@media screen and (max-width: 1920px){
	/*texto rotativo*/	
	.text-content-slider {
    	    top: 48px !important;
    }
    .text-content-slider h1 {
    	font-size: 45px;
	}

	/*boton redondo*/
    .scroll-down {
    	top: 835px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	

	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px 0;
    	margin-top: 200px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 400px;
		margin: 0px 0px 50px 15px;
	}

}

@media screen and (max-width: 1680px){
	/*texto rotativo*/	
	.text-content-slider {
    	    top: 150px !important;
    }
    .text-content-slider h1 {
    	font-size: 45px;
	}

	/*boton redondo*/
    .scroll-down {
    	top: 835px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	

	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px 0;
    	margin-top: 200px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 400px;
		margin: 0px 0px 50px 15px;
	}

}




@media screen and (max-width: 1600px){
	/*texto rotativo*/	
	.text-content-slider {
    	    top: -14px !important;
    }
    .text-content-slider h1 {
    	font-size: 35px;
	}

	/*boton redondo*/
    .scroll-down {
    	top: 780px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	

	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px 0;
    	margin-top: 200px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 400px;
		margin: 0px 0px 50px 15px;
	}

	.preview-enviroment {
    	text-align: center;
    }

}

@media screen and (max-width: 1440px){
	/*texto rotativo*/	
	.text-content-slider {
        top: -230px !important;

    }

    .text-content-slider h1 {
    	font-size: 35px;
	}

	/*boton redondo*/
    .scroll-down {
    	top: 690px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	

	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px 0;
    	margin-top: 200px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 400px;
		margin: 0px 0px 50px 15px;
	}

}




@media screen and (max-width: 1366px){
	/*texto rotativo*/	
	.text-content-slider {
    	top: -235px 
    }
    .text-content-slider h1 {
    	font-size: 35px;
	}

	/*boton redondo*/
    .scroll-down {
    	top: 630px;
    	width: 42px;
    	height: 42px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	

	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px 0;
    	margin-top: 200px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 400px;
		margin: 0px 0px 50px 15px;
	}

}



@media screen and (max-width: 1280px){
	/*texto rotativo*/	
	.text-content-slider {
    	top: -243px !important;
    }
    .text-content-slider h1 {
    	font-size: 35px;
	}

	/*boton redondo*/
	.scroll-down {
    	top: 540px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 10px 0px;
    	position: relative;
	}	

	

	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.program {
    	margin: 0px 0px 0px 380px;
	}
	

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 400px;
		margin: 0px 0px 50px 15px;
	}

	.preview-enviroment {
    	text-align: center;
    	margin: 0px 0px 0px 49px;
    	width: 80%;
	}

}




@media screen and (max-width: 1080px){
	/*texto rotativo*/	
	.text-content-slider {
    	top: -230px !important;

    }
    .text-content-slider h1 {
    	font-size: 30px;
	}

	/*boton redondo*/
	.scroll-down {
    	top: 530px;
    	width: 42px;
		height: 42px;
	}
	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 280px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 360px;
		margin: 0px 0px 50px 15px;
	}
}



@media screen and (max-width: 1024px){
	#img_portada {
    	width: 100%;
    	height: 680px;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	top: -20px !important;
    }
    .text-content-slider h1 {
    	font-size: 25px;
	}

	/*boton redondo*/
	.scroll-down {
    	top: 590px;
    	width: 52px;
		height: 52px;
	}

	/*imagen de los ambientes*/
	.preview-enviroment {
    	width: 100%;
    	height: auto;
    	margin: 0px 0px 0px 10px;
	}
	
	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 280px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 11%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 40px
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 360px;
		margin: 0px 0px 50px 15px;
	}
}



@media screen and (max-width: 980px){
	#img_portada {
    	width: 100%;
    	height: 600px;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	top: -20px !important;
    }
    .text-content-slider h1 {
    	font-size: 25px;
	}

	/*boton redondo*/
	.scroll-down {
    	top: 520px;
    	width: 52px;
		height: 52px;
	}
	/*imagen de los ambientes*/
	.preview-enviroment {
    	width: 100%;
    	height: auto;
    	margin: 0px 0px 0px 0px;
	}

	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 180px;
	}

	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	

	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 38px;
	}


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}

	/*imagen del centro de formación*/
	.container-fluid {
    	padding-right: 15px;
    	padding-left: 0px;
	}

	/*imagenes de los eventos*/
	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-left: 0px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 360px;
		margin: 0px 0px 50px 5px;
	}
}




@media screen and (max-width: 800px){
	#img_portada {
    	width: 100%;
    	height: auto !important;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	top: -164px !important;
    }
    .text-content-slider h1 {
    	font-size: 20px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 180px;
	}

	.masonry-item {
    	width: 50%;
	}

	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
    	margin: 0px 40px 75px 0px;
    	position: relative;
   	 	top: 65px;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 30px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 320px;
		margin: 0px 0px 50px 5px;
	}

	/*imagenes de los eventos*/
	.team-member {
    	text-align: center;
	}
}





@media screen and (max-width: 768px){
	#img_portada {
    	width: 100%;
    	height: auto !important;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	top: -167px !important;
    }
    .text-content-slider h1 {
    	font-size: 20px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 176px;
	}

	.masonry-item {
    	width: 50%;
	}

	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: left;
    	width: 50%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
    	top: 10px;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 30px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 320px;
		margin: 0px 0px 50px 5px;
	}

	/*imagenes de los eventos*/
	.team-member {
    	text-align: center;
	}
}




@media screen and (max-width: 667px){
	#img_portada {
    	width: 100%;
    	height: auto !important;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	display: none;
    }
    .text-content-slider h1 {
    	font-size: 18px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*tamaño del titulo nuestro centro*/
	.intro-heading {
    	font-size: 38px;
    	line-height: 56px;
	}
	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 123px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: left;
   		margin: 0px 40px 30px 0px;
    	position: relative;
    	top:14px;
	}	

	.masonry-item {
    	width: 50%;
	}


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 30px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 260px;
		margin: 0px 0px 50px 5px;
	}
	/*imagenes de los eventos*/
	.team-member {
    	text-align: center;
	}
}



@media screen and (max-width: 640px){
	#img_portada {
    	width: 100%;
    	height: auto !important;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	display: none;
    }
    .text-content-slider h1 {
    	font-size: 18px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*tamaño del titulo nuestro centro*/
	.intro-heading {
    	font-size: 38px;
    	line-height: 56px;
	}
	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 123px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: left;
   		margin: 0px 40px 30px 0px;
    	position: relative;
    	top:14px;
	}	

	.masonry-item {
    	width: 50%;
	}


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 30px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 260px;
		margin: 0px 0px 50px 5px;
	}
	/*imagenes de los eventos*/
	.team-member {
    	text-align: center;
	}

	/*eventos de targeta*/
	.overlay-mine{
	  	background:rgba(0, 0, 0, 0.6);
	  	width: 100%;
	  	height:100%;
	  	position: fixed;
	  	z-index: 9999;
	}

	.overlay-mine .overlay-inner {
    width: 65%;
	height: 560px;
    background: white;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    border-radius: 3px;
    padding: 10px;
	}

	.overlay-inner img {
    	width: 60%;
    	top: -40px;
    	position: relative;
	}

	.overlay-inner h3{
	 	padding:30px;
	}

	.overlay-inner p {
    margin-top: -10px !important;
    margin-bottom: 100px;
    margin-right: 16px !important;
    margin-left: 16px !important;
    font-size: 14px;
	}
}





@media screen and (max-width: 600px){
	#img_portada {
    	width: 100%;
    	height: auto !important;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	display: none;
    }
    .text-content-slider h1 {
    	font-size: 18px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*tamaño del titulo nuestro centro*/
	.intro-heading {
    	font-size: 38px;
    	line-height: 56px;
	}
	/*titulo del grograma general*/
	.program {
    	margin: 0px 0px 0px 97px;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: left;
    	width: 100%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	

	.masonry-item {
    	width: 50%;
	}


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 100px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 30px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 260px;
		margin: 0px 0px 50px 5px;
	}

	/*imagenes de los eventos*/
	.team-member {
    	text-align: center;
	}


	/*eventos de targeta*/
	.overlay-mine{
	  	background:rgba(0, 0, 0, 0.6);
	  	width: 100%;
	  	height:100%;
	  	position: fixed;
	  	z-index: 9999;
	}

	.overlay-mine .overlay-inner {
    width: 70%;
	height: 570px;
    background: white;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    border-radius: 3px;
    padding: 10px;
	}

	.overlay-inner img {
    	width: 60%;
    	top: -40px;
    	position: relative;
	}

	.overlay-inner h3{
	 	padding:30px;
	}

	.overlay-inner p {
    margin-top: -10px !important;
    margin-bottom: 100px;
    margin-right: 16px !important;
    margin-left: 16px !important;
    font-size: 14px;
	}
}




@media screen and (max-width: 533px){
	.program {
    	margin: 0px 0px 0px 72px;
	}

}

@media screen and (max-width: 480px){
	.program {
	    margin: 0px 0px 0px 36px;
	}

	/*menu de los ambientes*/
	.portfolio-filter a{
		width: 100%;
		margin: 7px;
	}

	.portfolio-filter {
    	margin-left: 15px;
	}

	/*eventos de targeta*/
	.overlay-mine{
	  	background:rgba(0, 0, 0, 0.6);
	  	width: 100%;
	  	height:100%;
	  	position: fixed;
	  	z-index: 9999;
	}

	.overlay-inner {
    	width: 81% !important;
    	height: 550px !important;
    	background: white;
    	text-align: center;
    	margin: auto;
    	margin-top: 12%;
    	border-radius: 3px;
    	padding: 10px;
	}

	.overlay-inner img {
    	width: 60%;
    	top: -40px;
    	position: relative;
	}

	.overlay-inner h3{
	 	padding:30px;
	}

	.overlay-inner p {
    	margin-top: -10px !important;
    	margin-bottom: 100px;
    	margin-right: 0px !important;
    	margin-left: 0px !important;
    	font-size: 14px;
	}

}

@media screen and (max-width: 414px){

	.navbar-toggle {
    	top: -1px;
	}

	.main-nav.sticky {
    	height: 50px;
	}

	.pru {
    	font-size: 18px;
    	top: -3px;
	}

	#img_portada {
    	width: 100%;
    	height: 400px;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	display: none
    }

    .text-content-slider h1 {
    	font-size: 18px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*tamaño del titulo nuestro centro*/
	.intro-heading {
    	font-size: 34px;
    	line-height: 56px;
	}

	/*menu de los ambientes*/
	.portfolio-filter a{
		width: 100%;
		margin: 7px;
	}

	.portfolio-filter {
    	margin-left: 15px;
	}

	h2 {
    	font-weight: 300;
    	font-size: 30px; 
	}

	/*titulo del grograma general*/

	.program {
    	margin: 0px 0px 0px 23px;

	}

	.masonry-item {
    	float: none !important;
    	width: 100%;
	}

	.work-img > a {
    	height: auto;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: none;
    	width: 100%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
    	top: 10px;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 80px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 23px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 220px;
		margin: 0px 0px 50px 5px;
	}
}





@media screen and (max-width: 384px){
	.navbar-toggle {
    	top: 1px;
	}

	.main-nav.sticky {
    	height: 50px;
	}

	.pru {
    	font-size: 18px;
    	top: -3px;
	}

	#img_portada {
    	width: 100%;
    	height: 400px;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	display: none
    }

    .text-content-slider h1 {
    	font-size: 14px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*tamaño del titulo nuestro centro*/
	.intro-heading {
    	font-size: 34px;
    	line-height: 56px;
	}

	.intro-text {
    	font-size: 15px;
    	line-height: 29px;
	}


	/*menu de los ambientes*/
	.portfolio-filter a{
		width: 100%;
		margin: 7px;
	}

	.portfolio-filter {
    	margin-left: 15px;
	}

	/*menu de los ambientes*/
	.portfolio-filter a{
		width: 100%;
		margin: 7px;
	}

	.portfolio-filter {
    	margin-left: 15px;
	}

	/*titulo de los Ambientes*/

	h2 {
    	font-weight: 300;
    	font-size: 26px;
	}


	/*titulo del grograma general*/

	.program {
    	margin: 0px 0px 0px 38px;
    	font-size: 25px;
	}

	.masonry-item {
    	float: none !important;
    	width: 100%;
	}

	.work-img > a {
    	height: auto;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: none;
    	width: 100%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 80px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 23px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 220px;
		margin: 0px 0px 50px 5px;
	}


	/*eventos de targeta*/
	.overlay-mine{
	  	background:rgba(0, 0, 0, 0.6);
	  	width: 100%;
	  	height:100%;
	  	position: fixed;
	  	z-index: 9999;
	}

	.overlay-inner {
    	width: 81% !important;
    	height: 550px !important;
    	background: white;
    	text-align: center;
    	margin: auto;
    	margin-top: 12%;
    	border-radius: 3px;
    	padding: 10px;
	}

	.overlay-inner img {
    	width: 60%;
    	top: -40px;
    	position: relative;
	}

	.overlay-inner h3{
	 	padding:30px;
	}

	.overlay-inner p {
    margin-top: -10px !important;
    margin-bottom: 100px;
    margin-right: 20px !important;
    margin-left: 20px !important;
	}
}





@media screen and (max-width: 360px){
	.navbar-toggle {
    	top: 1px;
	}

	.main-nav.sticky {
    	height: 50px;
	}

	.pru {
    	font-size: 18px;
    	top: -3px;
	}

	#img_portada {
    	width: 100%;
    	height: 400px;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	display: none
    }

    .text-content-slider h1 {
    	font-size: 14px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*tamaño del titulo nuestro centro*/
	.intro-heading {
    	font-size: 34px;
    	line-height: 56px;
	}

	.intro-text {
    	font-size: 15px;
    	line-height: 29px;
	}

	/*menu de los ambientes*/
	.portfolio-filter a{
		width: 100%;
		margin: 7px;
	}

	.portfolio-filter {
    	margin-left: 15px;
	}

	/*titulo de los Ambientes*/

	h2 {
    	font-weight: 300;
    	font-size: 26px;
	}
	/*titulo del grograma general*/

	.program {
    	margin: -1px 0px 0px 13px;
    	font-size: 23px;
	}

	.masonry-item {
    	float: none !important;
    	width: 100%;
	}

	.work-img > a {
    	height: auto;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: none;
    	width: 100%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 80px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 23px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 220px;
		margin: 0px 0px 50px 5px;
	}

	/*eventos de targeta*/
	.overlay-mine{
	  	background:rgba(0, 0, 0, 0.6);
	  	width: 100%;
	  	height:100%;
	  	position: fixed;
	  	z-index: 9999;
	}

	.overlay-inner {
    	width: 81% !important;
    	height: 550px !important;
    	background: white;
    	text-align: center;
    	margin: auto;
    	margin-top: 12%;
    	border-radius: 3px;
    	padding: 10px;
	}

	.overlay-inner img {
    	width: 60%;
    	top: -40px;
    	position: relative;
	}

	.overlay-inner h3{
	 	padding:30px;
	}

	.overlay-inner p {
    margin-top: -10px !important;
    margin-bottom: 100px;
    margin-right: 20px !important;
    margin-left: 20px !important;


}





@media screen and (max-width: 320px){
	.navbar-toggle {
    	top: 1px;
	}

	.main-nav.sticky {
    	height: 50px;
	}

	.pru {
    	font-size: 18px;
    	top: -3px;
	}

	#img_portada {
    	width: 100%;
    	height: 400px;
	}
	/*texto rotativo*/	

	.text-content-slider {
    	display: none
    }

    .text-content-slider h1 {
    	font-size: 14px;
	}

	/*boton redondo*/
	.scroll-down {
    	display: none
	}
	/*tamaño del titulo nuestro centro*/
	.intro-heading {
    	font-size: 34px;
    	line-height: 56px;
	}

	.intro-text {
    	font-size: 15px;
    	line-height: 29px;
	}

	/*menu de los ambientes*/
	.portfolio-filter a{
		width: 100%;
		margin: 7px;
	}

	.portfolio-filter {
    	margin-left: 15px;
	}

	/*titulo de los Ambientes*/

	h2 {
    	font-weight: 300;
    	font-size: 26px;
	}
	/*titulo del grograma general*/

	.program {
    	margin: 0px 0px 0px 0px;
    	font-size: 25px;
	}

	.masonry-item {
    	float: none !important;
    	width: 100%;
	}

	.work-img > a {
    	height: auto;
	}
	/*informatción del programa*/
	#count-program{
    	width: 90%;
    	margin-left: 6%;
	}

	#img-program-detail {
    	float: none;
    	width: 100%;
   		margin: 0px 40px 30px 0px;
    	position: relative;
	}	


	/*contenido del texto del programa*/
	.cont-program{
    	top: -90px;
	}

	.intro {
    	padding: 10px ;
    	margin-top: 80px;
	}

	.row {
    	margin-right: -15px;
    	margin-left: -15px;
	}

	.suscription-program {
    	margin-top: -1%;
	}
	/*margen inferior de la imagen del video*/
	.oh {
    	overflow: none !important;
	}
	/*texto del tramo verde*/
	.call-to-action h2 {
    	font-size: 23px;
	}

	#img-we{
		position: relative;
		float: left;

	}

	.detail-program {
    	margin-top: -8%;
    	clear:both;
	}

	.video-program{
		margin-right: 10px;
	}
	
	/*tamaño del video del programa*/
	.size{
		width: 100%;
		height: 220px;
		margin: 0px 0px 50px 5px;
	}

	/*eventos de targeta*/
	.overlay-mine{
	  	background:rgba(0, 0, 0, 0.6);
	  	width: 100%;
	  	height:100%;
	  	position: fixed;
	  	z-index: 9999;
	}

	.overlay-inner {
    	width: 81% !important;
    	height: 445px !important;
    	background: white;
    	text-align: center;
    	margin: auto;
    	margin-top: 5%;
    	border-radius: 3px;
    	padding: 10px;
	}

	.overlay-inner img {
    	width: 60%;
    	top: -40px;
    	position: relative;
	}

	.overlay-inner h3{
	 	padding:30px;
	}

	.overlay-inner p {
    	margin-top: -10px !important;
    	margin-bottom: 100px;
    	margin-right: 0px !important;
    	margin-left: 0px !important;
    	font-size: 12px;
	}

	/*altura de las imagenes de los eventos*/
	.team-img{
		height: 470px !important;
	}
}