<template name="dashboard_users_roles">
	<div class="row">
        <div class="page-header">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Usuarios</h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <!-- "Create project" button, width=auto on desktops -->
                    <div id="create-user" class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Crear Nuevo Usuario</a></div>
                    <div id="changes-users-role" class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Guardar Cambios</a></div>
                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>
                </div>
            </div>
        </div>
        <!-- / .page-header -->
    </div>
    <div id="content-table">
        {{> reactiveTable collection=showUsers settings=tableSettings}}
    </div>

    <div class="row">
        <!--Form Institute-->
        <form id="add-user" class="panel form-horizontal" style="display:none;">
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Nombre Completo" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label class="col-sm-2 control-label">Cédula</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="cc" placeholder="Cédula" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="descripcion-gallo" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="email@email.com" required>
                    </div>
                </div> 
                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button id="cancel-add" class="btn btn-danger btn-flat">Cancelar</button>
                    </div>
                </div> <!-- / .form-group -->
            </div>
        </form>
        <!--Form Institute-->
    </div>
</template>

