<template name="informative_environments">
	<section class="section-wrap" id="enviroments">
		<div class="container">
			<h2 class="text-center">Ambientes de Formación</h2>
			<p class="subheading text-center">Enseñanza Moderna</p>

			<!-- filter -->
			<div class="row mt-50">
				<div class="col-md-12">
					<div class="portfolio-filter">
						<a id="all" href="#" class="filter active transition" data-filter="*">All</a>

						{{#each enviroments}}
							<a href="#" id="{{_id}}" class="filter transition" data-filter=".{{name}}">{{name}}</a>
						{{/each}}
					</div> <!-- end filter -->
				</div> <!-- end col -->
			</div> <!-- end row -->
	
			<div id="detail-enviroment" class="container" style="display:none;" >
				<div class="entry-box row">
					<div class="col-sm-8 col-sm-offset-2 text-center wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.2s; -webkit-animation-duration: 1.2s; animation-delay: 0s; -webkit-animation-delay: 0s; animation-name: slideInUp; -webkit-animation-name: slideInUp;">
						<h2 class="intro-heading">{{dataEnviroment.name}}</h2>
						<br>
						<p class="intro-text card-text">
							<div id="video-enviroment" align="center" style="display:none;">
								<iframe id="video-iframe" width="100%;" height="300px;" src="https://www.youtube.com/embed/{{dataEnviroment.idVideoYoutube}}" frameborder="0" allowfullscreen></iframe>
							</div>
							<div id="conten-enviroment">
								<div>
									<img class="entry-img preview-enviroment " src="/cfs/files/images/{{dataEnviroment.img._id}}/{{dataEnviroment.img.original.name}}">
								</div>
								<br>
								<br>
								{{dataEnviroment.description}}
							</div>
							<br>
							<br>
							<a href="#" id="video" class="btn btn-pink btn-large btn-submit">Video</a>
							<a href="#" id="content" class="btn btn-pink btn-large btn-submit" style="display:none;">Content</a>
						</p>
					</div> <!-- end col -->

				</div> <!-- end row -->
			</div> <!-- end container -->
			<br>
			<br>		
			<div id="filter-programs" class="grid masonry" style="position: relative;">
				<div class="grid masonry">	
					<h2 class="program">Formación Profesional Integral</h2>
					<br>
					<div id="reactive-table-1-filter" class="input-group" style="display:none;">
					    <span class="input-group-addon" style="background-color:white !important; border:none !important; "><i class="fa fa-search"></i>
					    </span>
					    
					    <input id="search-box" class="reactive-table-input form-control" type="text">
					    
					</div>
					{{#each programs}}
						<div id="{{_id}}" class="masonry-item web-design print program-detail">
							<div class="work-img">
								<a href="#">
								<!--<img src="/img/informative/blog_1.jpg" alt="img">-->
									<img src="/cfs/files/images/{{img._id}}/{{img.original.name}}" alt="img">						
									<div class="work-description text-center">
										<h3>{{name}}</h3>
										<span>Ver Más</span>
										<!--<span>{{description}}</span>-->
									</div>
								</a>
							</div>
						</div> <!-- end work-item -->
					{{/each}}
				</div>
			</div>
			<br>
			<br>
		</div> <!-- end container -->
	</section>
</template>