<template name="dashboard_menu">
  	<div id="main-wrapper">
	    <!-- 2. $MAIN_NAVIGATION =====Main navigation-->
	    <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
	        <!-- Main menu toggle -->
	        <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span>
	        </button>
	        <div class="navbar-inner">
	            <!-- Main navbar header -->
	            <div class="navbar-header">
	                <!-- Logo -->
	                <a href="index.html" class="navbar-brand">
	                    <div>
	                        <img alt="Vifuy Admin" src="/img/dashboard/Vifuy-logo-black40.png">
	                    </div>
	                    SENA Admin
	                </a>
	                <!-- Main navbar toggle -->
	                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i>
	                </button>
	            </div>
	            <!-- navbar-header -->
	            <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
	                <div>
	                    
	                    <!-- / .navbar-nav -->
	                    <div class="right clearfix">
	                        <ul class="nav navbar-nav pull-right right-navbar-nav">
	                            <li class="nav-icon-btn nav-icon-btn-danger dropdown">
	                                <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
	                                    <span class="label">{{showNotificationsAddNewVideo}}</span>
	                                    <i class="nav-icon fa fa-bullhorn"></i>
	                                    <span class="small-screen-text">Notifications</span>
	                                </a>
	                                <div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
	                                    <div class="notifications-list" id="main-navbar-notifications">
	                                    	{{#each showNotificationsAddNewVideoDetail}}
	                                    		<!-- .notification -->
		                                        <div class="notification">
													<div class="notification-title text-success">SYSTEM</div>
													<div class="notification-description">New Video  <strong>{{name}}</strong>.</div>
													<div class="notification-ago">{{idVideo.uploadedAt}}</div>
													<div class="notification-icon fa fa-hdd-o bg-success"></div>
												</div> <!-- / .notification -->
	                                        {{/each}}
	                                    </div>
	                                    <!-- notifications-list -->
	                                    <a href="#" class="notifications-link">MORE NOTIFICATIONS</a>
	                                </div>
	                                <!-- dropdown-menu -->
	                            </li>
	                            <li class="nav-icon-btn nav-icon-btn-success dropdown">
	                                <a href="#messages" class="dropdown-toggle" data-toggle="dropdown">
	                                    <span class="label">10</span>
	                                    <i class="nav-icon fa fa-envelope"></i>
	                                    <span class="small-screen-text">Income messages</span>
	                                </a>
	                                <div class="dropdown-menu widget-messages-alt no-padding" style="width: 300px;">
	                                    <div class="messages-list" id="main-navbar-messages">
	                                        <div class="message">

	                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
	                                            <div class="message-description">
	                                                from <a href="#">Robert Jang</a>
	                                                &nbsp;&nbsp;·&nbsp;&nbsp; 2h ago
	                                            </div>
	                                        </div>
	                                        <!-- message -->
	                                    </div>
	                                    <!-- messages-list -->
	                                    <a href="#" class="messages-link">MORE MESSAGES</a>
	                                </div>
	                                <!-- dropdown-menu -->
	                            </li>
	                            <!-- 3 $END_NAVBAR_ICON_BUTTONS -->
	                           
	                            <li class="dropdown">
	                                <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
	                                	{{#if currentUser.services.twitter.profile_image_url}}
				                            <img src="{{currentUser.services.twitter.profile_image_url}}" alt="" class="widget-profile-avatar">
				                        {{else}}
				                            {{#if currentUser.services.facebook}}
				                                <img src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=square" alt="" class="widget-profile-avatar">
				                            {{else}}
				                                {{#if currentUser.ImgUser}}
				                                    <img id="imgUser" src="/cfs/files/imageuser/{{currentUser.ImgUser._id}}/{{currentUser.ImgUser.original.name}}" alt="" >
				                                {{else}}
				                                    <img src="/img/dashboard/pixel-admin/avatar.png" alt="">
				                                {{/if}}
				                            {{/if}}
				                        {{/if}}

								        {{#if currentUser.profile.name}}
								         	<span>{{currentUser.profile.name}}</span>
								        {{else}}
								        	{{#if currentUser.profile.username}}
								        		<span>{{currentUser.profile.username}}</span>

								        	{{else}}
								        		<span>{{currentUser.emails.address}}</span>
									        	{{#each currentUser.emails }}
									        	   <span>{{address}}</span>
					                        	{{/each}}
								        	{{/if}}
								        	
								        {{/if}}
	                                </a>
	                                <ul class="dropdown-menu">
	                                    <li><a id="userAccount" href="#">Account</a>
	                                    </li>
	                                    <li><a id="userSettings" href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Settings</a>
	                                    </li>
	                                    <li class="divider"></li>
	                                    <li><a id="logout" href="#"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a>
	                                    </li>
	                                </ul>
	                            </li>
	                        </ul>
	                        <!-- navbar-nav -->
	                    </div>
	                    <!-- right -->
	                </div>
	            </div>
	            <!--#main-navbar-collapse -->
	        </div>
	        <!-- navbar-inner -->
	    </div>
	    <!-- main-navbar -->
	</div>

	<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<div class="menu-content top" id="menu-content-demo">
				<!-- Menu custom content demo
					 CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
					 Javascript: html/assets/demo/demo.js
				 -->
				<div>
					<div class="text-bg">
						{{#if currentUser.profile.name}}
							<span class="text-semibold">
								{{currentUser.profile.name}}
							</span>
				        {{else}}

				        	{{#if currentUser.profile.username}}
				        		<span class="text-semibold">
									{{currentUser.profile.username}}
								</span>

				        	{{else}}
				        		{{#each currentUser.emails }}
		                           <span class="text-semibold">
		                           		{{address}}
		                           </span>
	                        	{{/each}}
				        	{{/if}}
				        	
				        {{/if}}

					</div>
					{{#if currentUser.services.twitter.profile_image_url}}
                        <img src="{{currentUser.services.twitter.profile_image_url}}" alt="" class="widget-profile-avatar">
                    {{else}}
                        {{#if currentUser.services.facebook}}
                            <img src="http://graph.facebook.com/{{currentUser.services.facebook.id}}/picture/?type=square" alt="" class="widget-profile-avatar">
                        {{else}}
                            {{#if currentUser.ImgUser}}
                                <img id="imgUser" src="/cfs/files/imageuser/{{currentUser.ImgUser._id}}/{{currentUser.ImgUser.original.name}}" alt="" >
                            {{else}}
                                <img src="/img/dashboard/pixel-admin/avatar.png" alt="">
                            {{/if}}
                        {{/if}}
                    {{/if}}

					
					<div class="btn-group">
						<a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-envelope"></i></a>
						<a id="userAccount" href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
						<a id="userSettings" href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
						<a id="logout" href="#" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
					</div>
					<a href="#" class="close">&times;</a>
				</div>
			</div>
			<ul id="main-options" class="navigation">
				<li>
					<a id="dashboard-institute" href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">Institución</span></a>
				</li>

				{{#unless isInRole 'freeUser'}}
				<li>
					<a href="#" id="enviroments"><i class="menu-icon fa fa-table"></i><span class="mm-text">Ambientes</span></a>
				</li>
				{{/unless}}

				{{#unless isInRole 'freeUser, goldUser'}}
					<li>
						<a id="programs" href="#"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Programas</span></a>
					</li>
				{{/unless}}
				
				{{#if isInRole 'admin'}}
				<li>
					<a href="#" id="user-roles"><i class="menu-icon fa fa-table"></i><span class="mm-text">Users Roles</span></a>
				</li>
				<li>
					<a href="#" id="subscribes"><i class="menu-icon fa fa-table"></i><span class="mm-text">Suscripciones</span></a>
				</li>
				<li>
					<a href="#" id="informative-emails"><i class="menu-icon fa fa-table"></i><span class="mm-text">Boletines Informativos</span></a>
				</li>
				<li>
					<a href="#" id="news"><i class="menu-icon fa fa-table"></i><span class="mm-text">Noticias</span></a>
				</li>
				<li>
					<a href="#" id="events"><i class="menu-icon fa fa-table"></i><span class="mm-text">Eventos</span></a>
				</li>
				{{/if}}

			</ul> <!-- / .navigation -->
			

		</div> <!-- / #main-menu-inner -->
	</div> <!-- / #main-menu -->
	<!-- /4. $MAIN_MENU -->
	
</template>
