<template name="dashboard_subscribes">
	<div class="row">
        <div class="page-header">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Usuarios Suscritos {{showSubscribesCount}}</h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    
    
                    <div class="visible-xs clearfix form-group-margin"></div>
                </div>
            </div>
        </div>
        <!-- / .page-header -->
    </div>
    <div id="content-table">
        {{> reactiveTable collection=showSubscribes settings=tableSettingsSubscribes}}
    </div>
</template>

