<template name="informative_about">
	<section class="about-us-intro" id="about-us">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-6 nopadding oh">
					{{#if showInfoEntity}}
						<img style="width:100%;" src="/img/fachada.jpg" alt="">
						<!--<img src="/cfs/files/images/{{showInfoEntity.img._id}}/{{showInfoEntity.img.original.name}}">-->
					{{else}}
						<img src="/img/fachada.jpg" alt="">
					{{/if}}
					
				
				</div> <!-- end col -->

				<div class="col-md-6">
					<div class="col-md-6about-features">

						<div class="col-md-10">
							{{#if showInfoEntity}}
								<h2>{{showInfoEntity.name}}</h2>	
								<p class="subheading">
									{{showInfoEntity.description}}
								</p>
							{{else}}
								<h2>Why We Are The Best</h2>	
								<p class="subheading">
									We Are Always Provide Best Quality and Professinal level of features.<br>
									Unika is Super Awesome Material Design Theme.
								</p>
							{{/if}}
							
							
						</div> <!-- end col -->

						<div class="col-md-12 col-lg-10 wow bounceInLeft">
							<div class="about-feature mt-50 mt-lrg-10 mt-mdm-30">
								<h4>+ Misión</h4>
								<p>El SENA está  encargado de cumplir la función que le corresponde al Estado de invertir en el desarrollo social y técnico de los trabajadores colombianos, ofreciendo y ejecutando la formación profesional integral, para la incorporación y el desarrollo de las personas en actividades productivas que contribuyan al desarrollo social, económico y tecnológico del país.</p>
							</div>
						</div>


						<div class="col-md-12 col-lg-10  wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; -webkit-animation-duration: 1s; animation-delay: 0.1s; -webkit-animation-delay: 0.1s; animation-name: bounceInRight; -webkit-animation-name: bounceInRight;">
							<div class="about-feature mt-50 mt-lrg-10 mt-mdm-30">
								<h4>+ Visión</h4>
								<p>En el 2020, el SENA será una Entidad de clase mundial en formación profesional integral y en el uso y apropiación de tecnología e innovación al servicio de personas y empresas; habrá contribuido decisivamente a incrementar la competitividad de Colombia</p>
							</div>


						</div>

					</div>						
				</div> <!-- end col -->
				
			</div> <!-- end row -->
		</div> <!-- end container -->
	</section>

</template>