<template name="pageAccesPermissions">
	<div class="page-500" style="width:100%;height:100%;">

		<div class="header">
			<a href="index.html" class="logo">
				<div class="demo-logo"><img src="/img/dashboard/Vifuy.gif" alt="" style="margin-top: -4px;"></div>&nbsp;
				<strong>Vifuy</strong>
			</a> <!-- / .logo -->
		</div> <!-- / .header -->

		<div class="error-code">500</div>

		<div class="error-text">
			<span class="oops">OUCH!</span><br>
			<span class="hr"></span>
			<br>
				SOMETHING IS NOT QUITE RIGHT
			<br>
			<span class="solve">We hope to solve it shortly</span>
		</div> <!-- / .error-text -->

	</div>
</template>