<template name="signUp">
    <!-- Page background -->
    <div id="page-signin-bg">
        <!-- Background overlay -->
        <div class="overlay"></div>
        <!-- Replace this with your bg image -->
        <img src="/img/dashboard/signin-bg-8.jpg" alt="">
    </div>
    <!-- / Page background -->


    <!-- Container -->
    <div class="signup-container">
        <!-- Header -->
        <div class="signup-header">
            <a href="index.html" class="logo">
                <img src="/img/dashboard/Vifuy-logo-white40.png" alt="" style="margin-top: -5px;">&nbsp;
                Dashboard
            </a> <!-- / .logo -->
            <div class="slogan">
                Simple. Flexible. Powerful.
            </div> <!-- / .slogan -->
        </div>
        <!-- / Header -->

        <!-- Form -->
        <div class="signup-form">
            <form action="#" id="signup-form_id">
                
                <div class="signup-text">
                    <span>Create an account</span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="signup_name" id="name_id" class="form-control input-lg" placeholder="Full name" required>
                    <span class="fa fa-info signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="email" name="signup_email" id="email_id" class="form-control input-lg" placeholder="E-mail" required>
                    <span class="fa fa-envelope signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="signup_username" id="username_id" class="form-control input-lg" placeholder="Username" required>
                    <span class="fa fa-user signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="password" name="signup_password" id="password_id" class="form-control input-lg" placeholder="Password" required>
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>

                <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="signup_confirm" class="px" id="confirm_id" required>
                        <span class="lbl">I agree with the <a href="#" target="_blank">Terms and Conditions</a></span>
                    </label>
                </div>

                <div class="form-actions">
                    <input type="submit" value="SIGN UP" class="signup-btn bg-primary">
                </div>


            </form>
            <!-- / Form -->
            <!-- / "Sign In with" block -->
        </div>
        <!-- Right side -->
    </div>

    <div class="have-account">
        Already have an account? <a id="signIn" href="#">Sign In</a>
    </div>
    
</template>