<template name="news">
	<section class="section-wrap bg-light" id="from-blog">
		<div class="container">			
			<h2 class="text-center">Noticias</h2>
			<p class="subheading text-center">Últimas Noticias</p>

			<div class="row mt-20">

				{{#each showEvents}}
					<div class="col-md-4 wow fadeInUp new-eve" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; -webkit-animation-duration: 1s; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
						<div class="blog-col-3 mt-30">
							<div class="entry-box">
								<div class="entry-img">
									<a href="#">
										<img src="/cfs/files/images/{{img._id}}/{{img.original.name}}" alt="">
									</a>
								</div>
								<div class="entry-title">
									<h4><a href="blog-single.html">{{name}}</a></h4>
								</div>
								<ul class="entry-meta">
									<!--<li>{{createAt}}</li>-->
									<li>
										{{#if enviroment}}
											<a href="#" class="transition"> {{nameEnviroment}}</a>
										{{else}}
											{{#if program}}
											<a href="#" class="transition"> {{nameProgram}}</a>
											{{/if}}
										{{/if}}
									</li>										
								</ul>
								<div class="entry-content">
									<p>{{description}}</p>
									<!--<a id="more-news" href="#" class="btn btn-small btn-rounded">Ver Más</a>
									<a href="#" class="blog-comments right transition">15</a>-->
								</div>
							</div> <!-- end entry box -->
						</div> <!--  end blog col 3 -->
					</div> <!-- end column-->
				{{/each}}
			</div> <!-- end row -->
		</div> <!-- end container -->
	</section>
</template>