<template name="informative_content">
	{{>informative_header}}
	<div id="overlay-hello" class="overlay-mine" style="display:none;">
	    <div class="overlay-inner">
	        <h3 id="title-eve"></h3>
	        <br>
	        <img id="img-eve" src="#">
	        <p id="description_eve"></p>
	    </div>
	</div>
    <div class="main-wrapper-onepage main oh">
    	<section>
		<!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->

			<div class="text-content-slider">
			    <h1 class="demo1" align="center">En el Sena Formamos<span class="rotate">Técnicos, Tecnólogos</span> profesionales para la vida laboral</h1>
			    
			    
		    </div>
			
			<div class="tp-banner-container clearfix">
				<div class="tp-banner" >
					<ul>
						<!-- SLIDE 1 -->
						<li data-transition="fade" data-slotamount="1" data-masterspeed="1200" data-delay="7000">
							<!-- MAIN IMAGE -->

								{{#if showInfoEntity.img}}
									<img id="img_portada" src="/cfs/files/images/{{showInfoEntity.img._id}}/{{showInfoEntity.img.original.name}}" alt="slidebg1"
										data-kenburns="on"
										data-bgposition="left center"
										data-duration="36000"
										data-ease="Linear.easeNone"
										data-bgfit="100"
										data-bgfitend="150"
										data-bgpositionend="right center"
										>
								{{else}}
									<img src="/img/slider-bg.jpg" alt="slidebg1"
										data-kenburns="on"
										data-bgposition="left center"
										data-duration="36000"
										data-ease="Linear.easeNone"
										data-bgfit="100"
										data-bgfitend="150"
										data-bgpositionend="right center"
										>
								{{/if}}
								

				
						</li> <!-- end slide 1 -->

					</ul>

					<div class="local-scroll">
						<a href="#intro" class="scroll-down">
							<i class="arrow_carrot-down"></i>
						</a>
					</div>

				</div>
			</div>
		</section>
		<section class="section-wrap intro" id="intro">
			<div class="container">
				<div class="row">

					<div class="col-sm-8 col-sm-offset-2 text-center wow slideInUp" data-wow-duration="1.2s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.2s; -webkit-animation-duration: 1.2s; animation-delay: 0s; -webkit-animation-delay: 0s; animation-name: slideInUp; -webkit-animation-name: slideInUp;">
						<h2 class="intro-heading">Nuestro Centro</h2>
						<p class="intro-text">
							{{showInfoEntity.description}}
						</p>
					</div> <!-- end col -->

				</div> <!-- end row -->
			</div> <!-- end container -->
		</section>

		{{>informative_environments}}

		<section class="call-to-action">
			<div class="container">			
				<h2 class="text-center color-white">Sena Conocimiento Y Emprendimiento Para Todos Los Colombianos!</h2>
				<div class="text-center mt-40">
					<a href="http://industriadosquebradas.blogspot.com.co/" target="_blank" class="btn btn-large btn-light-solid">Conocer Más</a>
				</div>
			</div> <!-- end container -->
		</section>

		{{>informative_about}}

		{{>informative_events}}

		<section class="section-wrap icon-boxes" id="services">
			<div class="container">
				<h2 class="text-center">Páginas Informativas SENA</h2>
				<p class="subheading text-center">Servicio Nacional de Aprendizaje</p>

				<div class="row">

					<div class="col-md-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
						<div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
							<a href="http://notisenarisaralda.blogspot.com.co/" target="_blank">
								<i class="hi-icon icon_desktop"></i>
							</a>
							<h3>Noticias SENA Risaralda</h3>
							<!--<p class="mb-0">We possess within us two minds. So far I have written only of the conscious mind.
							Check our services.</p>	-->		
						</div>						
					</div> <!-- end service item -->

					<div class="col-md-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-delay: 0.4s; -webkit-animation-delay: 0.4s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
						<div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
							<a href="http://www.sena.edu.co/Paginas/Inicio.aspx" target="_blank">
								<i class="hi-icon icon_mail_alt"></i>
							</a>
							<h3>SENA</h3>
								
						</div>						
					</div> <!-- end service item -->

					<div class="col-md-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-delay: 0.6s; -webkit-animation-delay: 0.6s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
						<div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
							<a href="#" target="_blank">
								<i class="hi-icon icon_tablet"></i>
							</a>
							<h3>Descarga la App</h3>
									
						</div>						
					</div> <!-- end service item -->

					<div class="col-md-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-delay: 0.8s; -webkit-animation-delay: 0.8s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
						<div class="service-item-box mt-40 text-center icon-effect-1 icon-effect-1a">
							<a href="http://industriadosquebradas.blogspot.com.co/" target="_blank">
								<i class="hi-icon icon_desktop"></i>
							</a>
							<h3>SENA CDITI</h3>
								
						</div>						
					</div> <!-- end service item -->
					
				</div> <!-- end row -->
			</div> <!-- end container -->
		</section>
		
		{{>news}}
		
		{{>informative_contact}}	
			
    	{{>informative_footer}}
    </div>
</template>