<template name="programs_detail">
	{{>informative_header}}
    <div class="main-wrapper-onepage main oh">
    	<section class="section-wrap intro" id="intro">
			<div class="container" id="count-program">
				<div class="container-fluid detail-program">
					<div class="row">
						
							<div class="about-features">

								<div class="col-md-10 description-program">
									<img id="img-program-detail" src="/cfs/files/images/{{img._id}}/{{img.original.name}}"><h2>{{name}}</h2>
									<p class="subheading">{{description}}</p>
								</div> <!-- end col -->
							</div>						

						<div class="col-md-9 oh video-program">
								<iframe class="size" src="https://www.youtube.com/embed/{{idVideoYoutube}}" frameborder="0" allowfullscreen></iframe>
							
						</div> <!-- end col -->
					</div> <!-- end row -->
				</div>
			</div> <!-- end container -->
		</section>
		<section class="call-to-action suscription-program">
			<div class="container">			
				<h2 class="text-center color-white text-suscribe">Registrate para recibir Boletines informativos sobre el programa de Formación</h2>
				<div class="text-center mt-40">
					<a id="subscribe-program" href="#" class="btn btn-pink btn-large btn-submit">Registrarme</a>
				    <form id="subscribe-form" action="#" style="display:none;">
				    	<input name="program" id="program" type="text" value="{{_id}}" hidden>
				    	<input name="program" id="nameProgram" type="text" value="{{name}}" hidden>
				    	<input name="enviroment" id="enviroment" type="text" value="{{enviroment}}" hidden>
				    	<input name="nameEnviroment" id="nameEnviroment" type="text" value="{{nameEnviroment}}" hidden>
				        <input name="email" id="email" type="email" class="form-control" placeholder="E-mail*">
				        <input type="submit" class="btn btn-pink btn-large btn-submit" value="Suscribirse" id="submit-message">
				        <div id="msg" class="message"></div>
				    </form>
				</div>
			</div> <!-- end container -->
		</section>
    </div>
</template>
