#hoster{
	height: 100%;
	background: #fff;
	position: relative;
	height: 70%;
	margin: 0;
	padding: 0;
}

#hoster video{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 100%;
}

#hoster iframe{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*width: 60%;
	height: 60%;*/
}

#localizator{
	position: absolute;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 2;
}



#contextual-menu {
	display: none;
	position: absolute;
	z-index: 3;
}

#seekbar{
	width: 100%;
	height: 100%;
	border-radius: 1.5px;
	background: #e2e2e2;
	position: relative;
	margin: auto;
	/*left: 5%;*/
	/* right: 0; */
	/*top: 10px;*/
	/*bottom: 0;*/
	z-index: 2;
}

#seekbar-shadow{
	width: 100%;
	height: 3px;
	border-radius: 1.5px;
	position: absolute;
	margin: auto;
	/*left: 5%;*/
	/* right: 0; */
	top: 20px;
	/*bottom: 0;*/
	z-index: 3;
}

#seekline{
	width: 100%;
	height: 3px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background:#fff;
}

#seekerwrapper{
	width: 90%;
	height: 50px;
	/*border-radius: 1.5px;*/
	/*background:#fafafa;*/
	position: relative;
	/*bottom: 5%;*/

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#sequences-save{
	color: white;
	/*font-family: 'icomoon-free-pack';*/
	font-size: 1.5em;
	*position: absolute;
	/*background: green;*/
	*right: 60px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

#sequences-save:before{
	/*content: "\e662";*/
}

#sequences-undo{
	color: white;
	font-family: 'icomoon-free-pack';
	font-size: 1.5em;
	/*background: red;*/
	*position: absolute;
	*right: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#sequences-undo:before{
	/*content: "\e664";*/
}

#storagedSequences{
	display:none;
}

.no-currentInteraction{
	display : none;
}

.currentStatePoint{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #5BC0DE;
}

.e-interaction{
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute !important;
	top: 40px;
	left: 40px;
	background: rgba(255,255,255, .3);
	z-index: 1;
}

.currentInteraction{
	/*border : 3px solid #1d89cf;*/
	background: rgba(91,192,222, .4);
	z-index: 3;
}

.statepoint{
	cursor: pointer;
	height: 6px;
	width: 6px;
	border-radius: 50px;
	background: #5BC0DE;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
}

.actual-statepoint{
	background : #1d89cf;
}

.statepoint:hover{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #5BC0DE;
}

.wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
}

.cutpoint{
	cursor: pointer;
	height: 6px;
	width: 6px;
	background: #E66454;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	border-radius: 0;
}

.cutpoint:hover{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #E66454;
}

.currentCutInteraction{
	/*border : 3px solid #F00;*/
	background: rgba(230,100,84, .4) !important;
	z-index: 3;
}

.currentCutPoint{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #E66454;
}

#secondplus{
	width: 60%;
	height: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	top: 40px;
	display: none;
}

.seconddi{
	cursor: pointer;
	height: 100%;
	position: relative;
	display: inline-block;
	width: 10%;
	border: 1px solid #e2e2e2;
	box-sizing: border-box;
	float: left;
}

.seconddi:hover{
	background: #e2e2e2;
}

.latsecs{
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 40px;
	font-size: 3em;
}

.latsecs:hover{
	color:#67CEA6;
}

#prevsec{
	text-align: right;
	left: -10%;
}

#nextsec{
	text-align: left;
	right: -10%;
}

#action-buttons{
	position: relative;
	top:60px;
	text-align: center;
}

#seqcircle{
	background: #5BC0DE;
	height: 60px;
	width: 60px;
	display: inline-block;
	*border-radius: 50%;
	cursor: pointer;
}

#seqsquare{
	background: #E66454;
	height: 60px;
	width: 60px;
	display: inline-block;
	cursor: pointer;
}