@font-face {
	font-family: 'iconset1';
	src:url('fonts/iconset1.eot?-227bvk');
	src:url('fonts/iconset1.eot?#iefix-227bvk') format('embedded-opentype'),
		url('fonts/iconset1.woff?-227bvk') format('woff'),
		url('fonts/iconset1.ttf?-227bvk') format('truetype'),
		url('fonts/iconset1.svg?-227bvk#iconset1') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon-free-pack';
  src:url('/fonts/icomoon/icomoon-free-pack.eot?-al4tmm');
  src:url('/fonts/icomoon/icomoon-free-pack.eot?#iefix-al4tmm') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon-free-pack.woff?-al4tmm') format('woff'),
    url('/fonts/icomoon/icomoon-free-pack.ttf?-al4tmm') format('truetype'),
    url('/fonts/icomoon/icomoon-free-pack.svg?-al4tmm#icomoon-free-pack') format('svg');
  font-weight: normal;
  font-style: normal;
}

#dashboard-video{
	width: 100%;
}

#dashboard-panel-padding{
	width: 100%;
	display: block;
}

#gcont {
	width: 101%;
	height: 800px;
	border: 1px solid #26292E;
	position: relative;
	margin:auto;
	left: 0;
	right: 0;
}

#grow {
	position: relative;
	width: 90%;
	height: 800px;
	margin: auto;
	left:0;
	right: 0;
}

#player_a{
	padding-bottom: 3em;
	/*width: 90% !important;*/
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	/*height: 90% !important;*/
}

#productspanel{
	position:absolute;
	width: 15%;
	height: 400px;
	background:#26292E;
	text-align: center;
}

#psection{
	position: absolute;
	width: 100%;
	height: 70%;
}

.pimgp{
	width: 50%;
}

#main-menu{
	overflow-x: hidden;
	overflow-y: visible; 
	height: 100%;
}

#menu-invoice{
	position: absolute;
	top: 350px;
}

#productsubmenu{
	width: 15%;
	position:absolute;
	right: 0;
	background:#26292E;
}

#scene-options {
	padding-top: 0 !important;
	margin-top: 46px;
	top: 105px;
	right: -100%;
	position: absolute;
}

#main-options{
	padding-top: 0 !important;
	margin-top: 46px;
	position: absolute;
}

#sequ3ncesubmenu{
	width: 25%;
	position:absolute;
	right: 0;
	background:#26292E;
	display:none;
}

#sequ3ncesubmenu label{
	display:inline-block;
	padding-left: 1em;
}

#sequ3ncesubmenu .vedit{
	width: 40px;
}

#icolor{
	width: 140px;
}

#sequ3ncestory{
	width: 100%;
	height: 200px;
	position:absolute;
	bottom:100px;
	background:#26292E;
}

#subseqm li{
	padding-top: 10px;
}

.botones{
	display:inline;
	border: none;
	background:#3C3F45;
	color:white;
	margin-bottom: 20px;
	padding:1em;
}

.botones:hover, .botones.active{
	background:#1E83E5;
}

.move{
	width: 5%;
	border: 1px solid #7F8289;
	position:absolute;
	height: 100%;
	cursor:pointer;
	font-family: "iconset1";
	color:#7F8289;
	font-size: 3em;
}

#prev{	
	left: 0px;
}

#next{
	right: 0px;
}


#prev:after{
	content: "\e600";
}

#next:after{
	content: "\e601";
}

#prev:hover{
	color:#1E83E5;
}

#next:hover{
	color:#1E83E5;
}

#form1{
	background: #2F3238;
	border: 1.8px solid #5C5C5C;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	top:200px;
	display:none;
	height: 500px;
	position: fixed;
	width: 60%;
	z-index:503;
	/*centrando*/
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	/*centrando*/
}

#form1 h2{
	padding-left: 9%;
	padding-top: 0.5em;
}

#form1 #buttonClose{
	top: 10px;
	border-radius: 10px;
	left: 0;
}

#videoedit{
	margin: auto;
	left: 0;
	right: 0;
	position:absolute;
}

#videoedit iframe{
	width: 750px;
	height: 422px;
	margin: auto;
	left: 0;
	right: 0;
	position:absolute;
}

.headpanel{
	width: 100%;
	height: 50px;
	background:#3C3F45;
	text-align: center;
}
.colorpanel{
	width: 100%;
	height: 300px;
	background:#3C3F45;
	text-align: center;
}

.headpanel p{
	text-transform: uppercase;
	font-weight: bold;
	padding-top: .8em;
}

/*menus*/

.pmenu{
	list-style: none;
	width: 100%;
	margin:0;
	text-align: center;
}

.pmenu a{
	padding-top:1em;
	display: block;
	/*border:1px solid #7F8289;*/
	height: 30px;
	width: 100%;
	color:#7F8289;
}

.pmenu a:hover{
	background:#2F3238;
	color:#1E83E5;
}
/*menus*/

#layer{
	display: none;
	left:0;
	right: 0;
	margin: auto;
	background: #1E83E5;
	width: 800px;
	height: 364px;
	filter: alpha(opacity=20);
	opacity:0.2;
	z-index: 501;
	position:absolute;
	/*display:none;*/
}


/* forms */

#sendzone{
	position:absolute;
	bottom:0px;
	border-radius: 0 0 10px 10px;
	width: 100%;
	height: 200px;
	background: #26292E;
	border-top: 2px solid #5C5C5C;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

#szbuttons{
	position:absolute;
	right: 2%;
	top:50px;
}

#form1 input, #form1 textarea{
	width: 140px;
}

#admul{
	width: 200px;
}

.inputduo2{
	position: absolute;
	left: 400px;
	top: 100px;
}



.inputduo {
	position: absolute;
	left: 50px;
	top: 100px;
}


#pimg{
	border-radius: 5px;
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #666975 3%, #3c3f45 96%, #d8d8d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(3%,#666975), color-stop(96%,#3c3f45), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#666975 3%,#3c3f45 96%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%,#666975 3%,#3c3f45 96%,#d8d8d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%,#666975 3%,#3c3f45 96%,#d8d8d8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e5e5e5 0%,#666975 3%,#3c3f45 96%,#d8d8d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
}

/* forms */

/* preview img */

.preview{
	display:none;
	position:absolute; 
	left: 50px;
	top:320px;
}

#ppreview{
	height: 160px;
}
/* preview img */
.product_vid_admin:hover{
	background:#2F3238;
	color:#1E83E5;
}
#containervid{
	width: 100%;
}
#projects{
	left: 3%;

}

#projects .item-thumbs img{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	display: absolute;
	z-index: 1;
}

#projects .item-thumbs a{
	z-index: 2;
}

#thumbs {
	margin: 0;
	padding: 0;	
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

#thumbs li {
	list-style-type: none;
	display:inline-block;
	margin:4em 5em 0 0;
}

.item-thumbs {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	cursor: pointer;
}

.item-thumbs a + img {
	width: 100%;	
}

.item-thumbs .hover-wrap {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	
	opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition: all 450ms ease-out 0s;	
	   -moz-transition: all 450ms ease-out 0s;
		 -o-transition: all 450ms ease-out 0s;
		    transition: all 450ms ease-out 0s;
		  
	-webkit-transform: rotateY(180deg) scale(0.5,0.5);
	   -moz-transform: rotateY(180deg) scale(0.5,0.5);
		-ms-transform: rotateY(180deg) scale(0.5,0.5);
		 -o-transform: rotateY(180deg) scale(0.5,0.5);
			transform: rotateY(180deg) scale(0.5,0.5);	
}

.item-thumbs:hover .hover-wrap,
.item-thumbs.active .hover-wrap {
	opacity: 1;
	filter: alpha(opacity=100);
	
	-webkit-transform: rotateY(0deg) scale(1,1);
	   -moz-transform: rotateY(0deg) scale(1,1);
		-ms-transform: rotateY(0deg) scale(1,1);
		 -o-transform: rotateY(0deg) scale(1,1);
		    transform: rotateY(0deg) scale(1,1);
}

.item-thumbs .hover-wrap .overlay-img {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background: #5bca9f;*/
	background: #1d89cf;
	opacity: 0.80;
	filter: alpha(opacity=80);
}

.item-thumbs .hover-wrap .overlay-img-thumb {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
	color: #FFFFFF;
	font-size: 32px;
	line-height: 1em;
	
	opacity: 1;
	filter: alpha(opacity=100);
}
.span3{
	width: 270px;
}
.option_products{
  float: right;
  font-size: 20px;
  color: #aaa;
}
.opt{
	cursor: pointer;
}
.pagination_vids{
	margin-left: 34%;
}
#back_videos_user{
	position: absolute;
	top:18px;
	font-size:17px;
}
#delete_videos_user{
	position: absolute;
	top:18px;
	left:97%;
	font-size:17px;
}

#back_image_tag_user{
	position: absolute;
	top:18px;
	font-size:17px;
}
#delete_image_tag_user{
	position: absolute;
	top:18px;
	left:97%;
	font-size:17px;
}

#imgProductEdit{
	width: 97%;
}

#modal_add_video{
	width:175%;
	height:100%;
	right:80px;	
}

#modal_edit_video{
	width:175%;
	height:100%;
	right:80px;	
}
#references {
	position: fixed;
	width: 100%;
	height: 58px;
	bottom: -20px;
}

.footer-dashboard {
	position: absolute;
	width: 100%;
	height: 40px;
	background: #0F1215;
	z-index: 99;
}

.footer-dashboard .credits {
	color: #FFFFFF;
	font-size: 13px;
	margin-bottom: 0;
	padding: 10px 0px 0px 0px;
	text-transform: uppercase;
	margin-left:30%;
}
.title-admin{
	margin-left: 36%;
    line-height:51px;
}

.md-section{
	display:inline;
}

.more-details, .more-details-spec {	
	display: inline-block;
	width: 40%;
}

.more-details {
	font-color:white;
	background:#c2c2c2;
}

.more-details-edit, .more-details-spec-edit {	
	display: inline-block;
	width: 40%;
}

.more-details-edit {
	font-color:white;
	background:#c2c2c2;
}
#ul-options-video{
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
}
 
#ul-options-video li{
	line-height: 30px;
	font-size: 16px;
	cursor:pointer;
}
 
#menu-options-video{
	width:250px;
	position:absolute;     
	border:1px solid black;

	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

/*sequencedit-stuff */

#myvid{
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	height: 90%;
}

#sequencedit-container{
	height: 700px;
	position: relative;
}

#editmanual{
	display: none;
	padding-top: 30px;
	position:absolute;
	width: 170px;
	height: 300px;
	background: gray;
}

#editmanual input{
	width: 3em;
}

.eminp, .emlab{
	position: absolute;
	display: inline;
}

#editmanual .emlab{
	left: 20px;
}

#editmanual .eminp{
	left: 80px;
}

.time-statepoint {
	cursor: pointer;
  background: #69c8f0;
  background-image: -webkit-linear-gradient(top, #69c8f0, #2980b9);
  background-image: -moz-linear-gradient(top, #69c8f0, #2980b9);
  background-image: -ms-linear-gradient(top, #69c8f0, #2980b9);
  background-image: -o-linear-gradient(top, #69c8f0, #2980b9);
  background-image: linear-gradient(to bottom, #69c8f0, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 0px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 7px 13px 5px 13px;
  text-decoration: none;
}


/* img tagging stuff */

.img_a_container{
	text-align: center;
}

.img_a_container a{
	text-align: center;
}

.img_a_container img{
	max-height: 700px;
	/*width: 80%;*/
}

#img-action-buttons{
	/*position: relative;*/
	padding-top: 40px;
	padding-bottom: 40px;
	position:relative;

}

#img-sequences-save {
    color: #FFF;
    font-family: "icomoon-free-pack";
    font-size: 1.5em;
    background: none repeat scroll 0% 0% #008000;
    width: 50px;
    height: 50px;
}

#img-sequences-save:before{
	content: "\e662";
}

#img-sequences-undo {
    color: #FFF;
    font-family: "icomoon-free-pack";
    font-size: 1.5em;
    background: none repeat scroll 0% 0% #F00;
    width: 50px;
    height: 50px;
}

#img-sequences-undo:before{
	content: "\e664";
}

.pick-product-thread{
	cursor:pointer;
    height: 40px;
    border-bottom: 1px solid lightgray;
}

.pick-product-thread:hover{
	background: #F8F8F8;
}

.cp_picked{
	position: absolute;
	width: 300%;
	height: 300%;
	max-width: 300px;
	max-height: 300px;
	left: 130%;
	/*padding: 20px;*/
	background: rgba(255,255,255,1);
	text-align: center;
	display:none;
}

.cp_picked img{
	width: 100%;
}

.acp_picked{
	display: block !important;
}

#vfs{
	position: absolute;
	right: 60px;
	bottom: 0;
	color:black;
}

.options-vid{
	overflow: hidden;
	height: 200px;
	background: black;
}

.signin-container .dropdown-menu{
	left:0;
}

.signin-container .caret{
	margin-left:10px;
}

#uidemo-tabs-default-demo-products .thread:hover{
	background: #FAFAFA;
}

#uidemo-tabs-default-demo-products .sequence-thread{
	background: #4EBBDB;
}

#uidemo-tabs-default-demo-products .sequence-thread:hover{
	background: #4EBBDB;
}

.heatfilters{
	padding:0 0 20px 10em;
}

.heatfilters select{
	width: auto;
	display: inline;
}

.spacediv{
	width: 2em;
	display: inline-block;
}

.heatpoint{
	cursor: pointer;
	display: none;
	border-radius: 50%;
	position: absolute;
	height: 30px;
	width: 30px;
}

.heatstaticpoint{
	box-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 10px rgba(255, 0, 0, 1) inset;
}

.heatstaticproduct{
	box-shadow: 0 0 10px rgba(35,125,215, 1) , 0 0 10px rgba(35,125,215, 1)  inset;
}

.wavecenter{
	width: 5px;
	height: 5px;
	border-radius:50%;
	margin:auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	
}

.heatpoint .wavecenter{
	background: rgba(255, 0, 0, .5);
	-webkit-animation: redwavecenter 2s infinite; /* Chrome, Safari, Opera */ 
    animation: redwavecenter 2s infinite;
}

.heatproduct .wavecenter{
	background: rgba(35,125,215, .5);
	-webkit-animation: bluewavecenter 2s infinite; /* Chrome, Safari, Opera */ 
    animation: bluewavecenter 2s infinite;
}

.redwavepoint{
	-webkit-animation: redwave 1s;
	animation: redwave 1s;
}

.bluewavepoint{
	-webkit-animation: bluewave 1s;
	animation: bluewave 1s;
}

.kint{
	color:#205F82;
	cursor: pointer;

}

.kint:hover{
	color:#4083A9;	
}

.kindul{
	display: none;
}

#kindInts li{
	list-style: none;
}

.modal-interaction{
	width: 175%;
}

/*key frames */

/* Chrome, Safari, Opera */ 
@-webkit-keyframes redwave {
	0%{
		width: 2px;
		height: 2px;
		box-shadow: 0 0 7px rgba(255, 0, 0, 1), 0 0 7px rgba(255, 0, 0, 1) inset;
	}
	60%{
		width: 40px;
		height: 40px;
		box-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 10px rgba(255, 0, 0, 1) inset;
	}
	80%{
		width: 40px;
		height: 40px;
		box-shadow: 0 0 0 , 0 0 0 inset;
	}
	100%{
		width: 30px;
		height: 30px;
	}
}

@-webkit-keyframes bluewave {
	0%{
		width: 2px;
		height: 2px;
		box-shadow: 0 0 7px rgba(35,125,215, 1), 0 0 7px rgba(35,125,215, 1) inset;
	}
	60%{
		width: 40px;
		height: 40px;
		box-shadow: 0 0 10px rgba(35,125,215, 1), 0 0 10px rgba(35,125,215, 1) inset;
	}
	80%{
		width: 40px;
		height: 40px;
		box-shadow: 0 0 0, 0 0 0 inset;
	}
	100%{
		width: 30px;
		height: 30px;
	}
}

@-webkit-keyframes bluewavecenter {
	0%{
		box-shadow: 0 0 0 0 #237DD7;
	}
	100%{
		box-shadow: 0 0 20px 3px #237DD7;
	}
}

@-webkit-keyframes redwavecenter {
	0%{
		box-shadow: 0 0 0 rgb(255, 0, 0);
	}
	100%{
		box-shadow: 0 0 20px 3px rgb(255, 0, 0);
	}
}

/* Standard syntax */
@keyframes redwave {
	0%{
		width: 2px;
		height: 2px;
		box-shadow: 0 0 7px rgba(255, 0, 0, 1), 0 0 7px rgba(255, 0, 0, 1) inset;
	}
	60%{
		width: 40px;
		height: 40px;
		box-shadow: 0 0 10px rgba(255, 0, 0, 1), 0 0 10px rgba(255, 0, 0, 1) inset;
	}
	80%{
		width: 40px;
		height: 40px;
		box-shadow: none;
	}
	100%{
		width: 30px;
		height: 30px;
	}
}

@keyframes bluewave {
	0%{
		width: 2px;
		height: 2px;
		box-shadow: 0 0 7px rgba(35,125,215, 1), 0 0 7px rgba(35,125,215, 1) inset;
	}
	60%{
		width: 40px;
		height: 40px;
		box-shadow: 0 0 10px rgba(35,125,215, 1), 0 0 10px rgba(35,125,215, 1) inset;
	}
	80%{
		width: 40px;
		height: 40px;
		box-shadow: none;
	}
	100%{
		width: 30px;
		height: 30px;
	}
}

@keyframes bluewavecenter {
	0%{
		box-shadow: 0 0 0 #237DD7;
	}
	100%{
		box-shadow: 0 0 20px 3px #237DD7;
	}
}

@keyframes redwavecenter {
	0%{
		box-shadow: 0 0 0 rgb(255, 0, 0);
	}
	100%{
		box-shadow: 0 0 20px 3px rgb(255, 0, 0);
	}
}
.preview-img{
	width: 20%;
}