<template name="informative_events">
	<section class="section-wrap pb-0 our-team bg-light" id="events">
		<div class="container">
			<h2 class="text-center">Eventos SENA CDITI</h2>
			<p class="subheading text-center">Eventos SENA CDITI</p>

			<div class="row mt-30">
				{{#each showEvents}}

					<div id="{{_id}}" class="col-md-4 wow fadeIn event-se" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
						<div class="team-member">
							<div class="team-img">
								<img src="/cfs/files/images/{{img._id}}/{{img.original.name}}" alt="">
								<div class="team-details text-center">
									<h5 class="team-title mb-10">{{name}}</h5>
									<!--<span>{{createAt}}</span>-->

									<div class="socials mt-20">
										<p style="display:none;">{{description}}</p>
										<!--<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-envelope"></i></a>-->
									</div>
								</div>
							</div>							
						</div> <!-- end team member -->
					</div> <!-- end col -->
				{{/each}}


			</div> <!-- end row -->
		</div> <!-- end container -->
	</section>
</template>