<template name="informative_contact">
	<section class="section-wrap contact" id="contact">
		<div class="container">
			<h2 class="text-center">¿Quieres saber más?</h2>
			<p class="subheading text-center">Envíanos un mensaje y te contactaremos.</p>

			<div class="row mt-50">

				<div class="col-sm-7 wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: bounceInLeft; -webkit-animation-name: bounceInLeft;">

					<div id="form-contact">

						<input name="name" id="name" type="text" class="form-control" placeholder="Nombre*">
						<input name="email" id="email" type="email" class="form-control" placeholder="E-mail*">
						<textarea name="comment" id="comment" class="form-control" placeholder="Mensaje"></textarea>

						<button id="sendComment" class="btn btn-pink btn-large btn-submit">Enviar</button>

						<div id="msg" class="message"></div>
		  			</div>
				</div> <!-- end col -->

				<div class="col-sm-4 col-sm-offset-1 wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; -webkit-animation-duration: 2s; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: bounceInRight; -webkit-animation-name: bounceInRight;">
					<div class="contact-details mt-sml-50">

						<h4>Centro de Diseño e Innovación Regional Risaralda</h4>
						

						<div class="phone mt-40">
							<i class="icon_phone"></i>
							<h3>Teléfono</h3>
							<p>+57 {{showInfoEntity.phone}}</p>
						</div>						

						<div class="email mt-40">
							<i class="icon_mail"></i>
							<h3>Email</h3>
							<a href="mailto:spam@unika.com">{{showInfoEntity.email}}</a>
						</div>						

						<div class="address mt-40">
							<i class="icon_pin"></i>
							<h3>Dirección</h3>
							<p>{{showInfoEntity.address}}<br>Dosquebradas - Risaralda<br>Barrio Santa Isabel</p>
						</div>						

					</div> <!-- end contact details -->
				</div> <!-- end col -->

			</div> <!-- end row -->
		</div> <!-- end container -->
	</section>
</template>