<template name="dashboard_enviroments">
	<div class="row">
        <div class="page-header">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Ambientes de Formación {{numberEnviroments}}</h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    <!-- "Create project" button, width=auto on desktops -->
                    <div class="pull-right col-xs-12 col-sm-auto"><a id="add-program" href="#" class="btn btn-primary btn-labeled"  style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Crear Nuevo Ambiente</a></div>

                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>                 
                </div>
            </div>
        </div>
        <!-- / .page-header -->
        <div id="content-table">
        	{{> reactiveTable collection=showInfoEnviroments settings=tableSettings}}
        </div>
        
    </div>

    <div class="row">
    	<!--Form Add-->
        <form id="add-enviroment-form" class="panel form-horizontal" style="display:none;">
            <div class="panel-body">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Nombre del Ambiente de formación" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label class="col-sm-2 control-label">Video</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" id="url-video" placeholder="Url Youtube Video" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Imagen</label>
                    <div class="col-sm-10">
                        <input id="img" name="img" type="file" class="" multiple >                                    
                    </div>
                    
                </div> <!-- / .form-group -->
                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                        <textarea id="description" class="form-control" rows="10" cols="40" required>
                            
                        </textarea>
                    </div>
                </div> <!-- / .form-group -->
              
                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button id="cancel-add" class="btn btn-danger btn-flat">Cancelar</button>
                    </div>
                </div> <!-- / .form-group -->

                <br>
                <br>
                <div id="alert-uploaded">
                    {{#each showImages}}
                        {{#unless this.isUploaded}}
                            <h6>Upload Image</h6>
                            {{>FS.UploadProgressBar bootstrap=true}}
                        {{/unless}}

                        {{#if isUploaded}}
                            <h4 id="alert" align="center" class="alert" style="color:green;">Se han guardado los datos con éxito</h4>
                        {{/if}}

                    {{/each}}
                </div>
            </div>
        </form>
       	<!--Form Add-->
        <!--Form edit Enviroment-->
        <form id="edit-enviroment-form" class="panel form-horizontal" style="display:none;">
            <div class="panel-body">
                <input id="id-enviroment-edit" type="text" hidden>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="edit-name" placeholder="Nombre del Ambiente de formación" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label class="col-sm-2 control-label">Video</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" id="edit-url-video" placeholder="Url Youtube Video" required>
                    </div>
                </div> <!-- / .form-group -->

                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Imagen</label>
                    <div class="col-sm-10">
                        <input id="edit-img" name="img" type="file" class="" multiple >                                    
                    </div>  
                </div> <!-- / .form-group -->
                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                       <img id="edit-img-preview" src="" style="width:10%">
                       <input id="id-img-edit" type="text" hidden>                                  
                    </div>  
                </div> <!-- / .form-group -->
                <div class="form-group">
                    <label for="asdasdas" class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                        <textarea id="edit-description" class="form-control" rows="10" cols="40" required>
                            
                        </textarea>
                    </div>
                </div> <!-- / .form-group -->
              
                <div class="form-group" style="margin-bottom: 0;">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button id="cancel-add" class="btn btn-danger btn-flat">Cancelar</button>
                    </div>
                </div> <!-- / .form-group -->
                <br>
                <br>
                <div id="alert-uploaded">
                    {{#each showImages}}
                        {{#unless this.isUploaded}}
                            <h6>Upload Image</h6>
                            {{>FS.UploadProgressBar bootstrap=true}}
                        {{/unless}}

                        {{#if isUploaded}}
                            <h4 id="alert" align="center" class="alert" style="color:green;">Se han guardado los datos con éxito</h4>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </form>
    </div>


</template>