<template name="dashboard_control">
    {{#if currentUser}}
        <!--Control Templates-->
        <!--{{#if isInRole 'admin'}}-->
        {{> dashboard_menu}}
        <div id="main-wrapper" class="content-videos">
                <div id="content-wrapper" class="dissaper_content">
                    <!--Dynamic Content Template-->
                    {{>UI.dynamic template=asideOpt}}
                    <!--{{>dashboard_user}}-->
                
                </div> <!-- / #content-wrapper -->
                <br>
                <br>
                <div id="references">
                    <footer class="footer-dashboard">
                        <p class="credits">©2016 SENA CDITI. <a href="#" title="SENA| Responsive Template">SENA Admin</a> by <a href="#"></a>Content</p>
                    </footer>
                </div>
        </div><!-- / #main-wrapper -->

        <div id="main-menu-bg"></div>
        <!--Control Templates-->
    {{else}}
        <!--login-->
        {{>dashboard_signin}}
    {{/if}}
</template>