<template name="informative_footer">
	<section id="google-map" class="gmap"></section>
   <!-- Footer -->
	<footer id="footer" class="minimal">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					
					<div class="footer-logo local-scroll mb-30 wow zoomIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<a href="#home">
							<img src="/img/informative/logo-dark.png" alt="">
						</a>
					</div>

					<div class="socials">
						<a href="https://www.facebook.com/bienestaraprendices.cditi"><i class="fa fa-facebook"></i></a>
						<a href="https://twitter.com/senacditi"><i class="fa fa-twitter"></i></a>
						<!--<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>-->
						<a href="http://www.pikore.com/location/276041381"><i class="fa fa-instagram"></i></a>
					</div> <!-- end socials -->

					<span class="copyright text-center">
						©2016 Unika Theme  |  Designed by <a href="http://deothemes.com/">DeoThemes</a>
					</span>

				</div> <!-- end col -->
			</div> <!-- end row -->		
		</div> <!-- end container -->
	</footer> <!-- end footer -->

	<div id="back-to-top">
		<a href="#top"><i class="arrow_carrot-up"></i></a>
	</div>
	<!-- Footer -->
</template>

			