<head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    
  	<title>SENA | CDITI Informativo</title>

	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="">
	<link rel="author" href="https://plus.google.com/u/0/104296509460513856975" />

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,700,400' rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="/css/informative/bootstrap.min.css"/>

	<link rel="stylesheet" href="/css/informative/font-awesome.css"/>
	<link rel="stylesheet" href="/css/informative/rev-slider.css" />
	<link rel="stylesheet" href="/css/informative/owl.carousel.css">
	<link rel="stylesheet" href="/css/informative/style.css" />
	<link rel="stylesheet" href="/css/informative/spacings.css" />
	<link rel="stylesheet" href="/css/informative/responsive.css" />
	<link rel="stylesheet" href="/css/informative/animate.css" />
	<link rel="stylesheet" href="/css/informative/elegant-icons.css" />
	<link rel="stylesheet" href="/css/informative/simpletextrotator.css" />
	

	
	<!-- Favicons -->
	<link rel="shortcut icon" href="/img/informative/favicon.jpg">
	<link rel="apple-touch-icon" href="/img/informative/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/informative/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/informative/apple-touch-icon-114x114.png">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
   
</head>

<body>
    


</body>

