<template name="dashboard_institute">
    <div class="row">
        <div class="page-header">
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Información Institución</h1>
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <hr class="visible-xs no-grid-gutter-h">
                    

                    <!-- Margin -->
                    <div class="visible-xs clearfix form-group-margin"></div>

                    
                </div>
            </div>
        </div>
        <!--SECTION INFO INSTITUTE-->
        <div id="row" class="panel" style="width:100%;display: table;line-height: 0;content:'';">
            <!--Form Institute-->
            <form id="info-institute" class="panel form-horizontal">
                <div class="panel-body">
                    <input id="id-entity" value="{{showInfoEntity._id}}" hidden>
                    <div class="form-group">
                        <label for="inputEmail2" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Nombre de la Institución" value="{{showInfoEntity.name}}" required>
                        </div>
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <label for="inputEmail2" class="col-sm-2 control-label">Correo Contacto</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" value="{{showInfoEntity.email}}" placeholder="Email de Contacto">
                        </div>
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <label for="inputEmail2" class="col-sm-2 control-label">Teléfono Contacto</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="phone" placeholder="Telefono Contacto" value="{{showInfoEntity.phone}}" required>
                        </div>
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <label for="inputEmail2" class="col-sm-2 control-label">Dirección</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" value="{{showInfoEntity.address}}" placeholder="Dirección" required>
                        </div>
                    </div> <!-- / .form-group -->
                    <div class="form-group">
                        <label for="asdasdas" class="col-sm-2 control-label">Imagen Slider</label>
                        <div class="col-sm-10">
                            <input id="img" name="img" type="file" class="" multiple >                                    
                        </div>
                        
                    </div> <!-- / .form-group -->

                    <div class="form-group">
                        <label for="inputEmail2" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <img  src="/cfs/files/images/{{showInfoEntity.img._id}}/{{showInfoEntity.img.original.name}}" style="width:20%;" alt="thumbnail">
                            <input class="col-sm-2 control-label" id="id-img" value="{{showInfoEntity.img._id}}" hidden>
                        </div>
                    </div> <!-- / .form-group -->

                    <div class="form-group">
                        <label for="asdasdas" class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <textarea id="description" class="form-control" rows="10" cols="40" required>
                                {{showInfoEntity.description}}
                            </textarea>
                        </div>
                    </div> <!-- / .form-group -->
                  
                    <div class="form-group" style="margin-bottom: 0;">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div> <!-- / .form-group -->

                    <br>
                    <div id="alert-uploaded">
                        {{#each showImages}}
                            {{#unless this.isUploaded}}
                                <h6>Upload Image</h6>
                                {{>FS.UploadProgressBar bootstrap=true}}
                            {{/unless}}

                            {{#if isUploaded}}
                                <h4 id="alert" align="center" class="alert" style="color:green;">Se han guardado los datos con éxito</h4>
                            {{/if}}

                        {{/each}}
                    </div>
                </div>
            </form>
            <!--Form Institute-->

        </div>    
        <!-- / .page-header -->
    </div>
</template>