<template name="informative_header">
    <!-- Preloader -->
	<div id="preloader">
	    <div id="status">&nbsp;</div>
	</div>

	<header id="home">
		<div class="main-nav" role="navigation">

			<nav class="nav-hide">
				<ul class="nav local-scroll">
				    <li class="active"><a href="#home">Home</a></li>
				    <li><a href="#enviroments">Ambientes</a></li>
				    <li><a href="#about-us">Nosotros</a></li>
				    <li><a href="#events">Eventos</a></li>
				    <li><a href="#from-blog">Noticias</a></li>
				    <li><a href="#contact">Contacto</a></li>
				</ul>
			</nav>

			<div class="container clearfix">

				<div class="logo-light local-scroll">
					<a href="/" class="logo">
						
						
					<h3 class="pru"> <!--<img class="img-logo-sena" src="/img/informative/logo_ico.png" alt="logo"> -->{{showInfoEntity.name}}</h3>
					</a>
				</div>

				<div class="navbar-toggle">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>

			</div> <!-- end container -->
		</div> <!-- end main nav -->
	</header>

</template>